<%- include('includes/head.ejs') %>
        <main>
            <h1>Productos en Venta</h1>
            <hr>
            <section>
                <div class="products">
                    <% for (let product of productos) { %>
                        <div class="product">
                            <h2> <%= product.nombre %> </h2>
                            <img src= "<%= product.imagen %>" alt= "<%= product.nombre %>">
                            <p class="prices">
                                <span>$</span>
                                <span> <%= product.precio %> </span></p>
                            <p class="center">
                                <span>Cantidad disponible:</span>
                                <span> <%= product.stock %> </span></p>
                            <form action="comprar" method="">
                                <div class="center">
                                    <button class="btnquant" type="" value="">-</button>
                                    <label id="cant" class="quantity"> <%= product.en_carrito %> </label>
                                    <button class="btnquant" type="" value="">+</button>
                                </div>
                            </form>
                        </div>
                    <% } %>
                </div>
            </section>
            <hr>
            <% if (isLoggedIn !== undefined){ %>
            <div>
                <h3>Qué producto quieres ver en nuetra tienda próximamente?</h3>
                <form action="comprar" method="POST">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="text" name="productoNuevo" value="">
                    <input type="submit">
                </form>
            </div>
            <% } %>
        </main>
<%- include('includes/footer.ejs') %>